# ==============================================================================
# ENVIRONMENT VARIABLES & CREDENTIALS
# ==============================================================================
# Kunci semua file .env secara total terlebih dahulu
.env
.env.*

# PENGECUALIAN: Izinkan git untuk membaca dan men-track file .env.example
!.env.example

# Mengabaikan file sertifikat atau kunci privat jika ada di lokal
*.pem
*.key

# ==============================================================================
# GOLANG (BACKEND)
# ==============================================================================
# Mengabaikan hasil compile binary Go
bin/
out/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mengabaikan file binary utama aplikasi kamu (jika di-build lokal)
# api
# main

# Mengabaikan file pengujian dan coverage
*.test
*.out
coverage.txt

# ==============================================================================
# NODE.JS & FRONTEND (IF ANY)
# ==============================================================================
# Mengabaikan dependencies Node
node_modules/
jspm_packages/

# Mengabaikan hasil build frontend (Next.js, React, Vue, Vite, dll.)
.next/
.nuxt/
.out/
build/
.cache/
.parcel-cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / Editor Configs (Sangat disarankan diabaikan agar tidak konflik antar dev)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db