# ==============================================================================
# APP CONFIGURATION
# ==============================================================================
APP_ENV=
APP_NAME=
APP_PORT=
APP_TIMEOUT_SECONDS=

# CORS & Security (Ganti dengan domain frontend aslimu di prod)
APP_ALLOWED_ORIGINS=
APP_SECRET_KEY=

# Log Level: panic, fatal, error, warn, info, debug
APP_LOG_LEVEL=

# ==============================================================================
# DATABASE CONFIGURATION (POSTGRESQL)
# ==============================================================================
DB_DRIVE=
DB_USER=
DB_HOST=
DB_PORT=
DB_NAME=
DB_PASSWORD=
DB_SSL_MODE=

# Connection Pool Settings (Spek server prod biasanya lebih tinggi)
DB_MAX_OPEN_CONNS=
DB_MAX_IDLE_CONNS=
DB_CONN_MAX_LIFETIME=
DB_CONN_MAX_IDLE_TIME=

# ==============================================================================
# REDIS CONFIGURATION
# ==============================================================================
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=

# Connection Pool Settings
REDIS_POOL_SIZE=
REDIS_MIN_IDLE_CONNS=
REDIS_DIAL_TIMEOUT=
REDIS_READ_TIMEOUT=
REDIS_WRITE_TIMEOUT=
REDIS_POOL_TIMEOUT=

# ==============================================================================
# SUPABASE STORAGE CONFIGURATION
# ==============================================================================
# Supabase Storage menggunakan standar S3 API, jadi kita butuh detail berikut:
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Kredensial Akses S3 (Didapatkan dari menu Project Settings > API > S3 Access Keys di Supabase)
SUPABASE_STORAGE_ACCESS_KEY_ID=
SUPABASE_STORAGE_SECRET_ACCESS_KEY=
SUPABASE_STORAGE_REGION=

# Nama Bucket khusus untuk menyimpan file/gambar
SUPABASE_STORAGE_BUCKET_PUBLIC=
SUPABASE_STORAGE_BUCKET_PRIVATE=